body {
    /* background-image: url(background.jpg); */
    background-size: cover;
    background-attachment: fixed;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Padauk', sans-serif;
    background-color: #00202E;
    color: navy;
}

.logo {
    /* padding-top: 4.3%; */
    width: 100%;
    height: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.intro {
    width: 100%;
    height: 50%;
    display: block;
    margin-right: auto;
    text-align: center;
    /* border: 3px solid red; */
    background-color: navy;
    opacity: 0.6;
    color: yellow;
}

a {
    /* background-color: #85dcb8; */
    /* box-shadow: 0 5px 0 darkred; */
    color: white;
    padding: 1em 1.5em;
    /* margin-top: 5000px; */
   
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /* a:hover {
    background-color: #ce0606;
    cursor: pointer;
  }
  
  a:active {
    box-shadow: none;
    top: 5px;
  } */

  .login_logout{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }

  .navbar_link{
    float:right;
  }

  .vaccine_logo{
    display: block;
    margin-right: auto;
    margin-left:auto;
  }
/*
.model {
    text-align: center;
    border: 2px solid #401fb8;
    color: white;
    align-items: center;
} */